<div class = "container">
  <? $tpl->openPanel("Downloads") ?>
    <h4 class = "text-center">DOWNLOADS</h4>

    <br />

    <p>Download our custom launcher from the link below. Extract WoW Launcher folder anywhere you want. Run Launcher.exe,
    select your wow default folder and press Play. Launcher will download all things you need for playing on our server (custom patch + custom exe)
    and will change your realmlist to ours.</p>

    <p>- <a href = "#">Custom Launcher Download</a></p>

    <p>Download Custom Patch manual:</p>

    <p>In order to install our custom patches manually extrac them inside your World Of Warcraft Data folder.</p>

     <p>- <a href = "#">Patch-A Download</a></p>

     <p>- <a href = "#">Patch-B Download</a></p>

     <p>- <a href = "#">Patch-C Download</a></p>

    <h4 class = "text-center">Why do i need these?</h4>
    <p>Custom patches made to override your client data to interract properly with our database and server
    .dbc files. Without custom patches you won't be able to play in our super awesome custom content !</p>
    </ul>
  <? $tpl->closePanel(); ?>
</div>
