<div class = "container ">
  <div class = "row">
    <div class = "col-md-8">
      <? $tpl->slider("slidar_1","slidar_2","slidar_3"); ?>
    <br />
       <? $tpl->openPanel("News & Announcements"); ?>
        <? $m_news->renderNews(); ?>
      <? $tpl->closePanel(); ?>
    </div>
    <div class = "col-md-4">
      <? $tpl->openPanel("Server Info"); ?>
        <? $m_serverStatus->renderRealm("3"); ?>
      <?php $tpl->closePanel(); ?>
      <? $tpl->openPanel("Custom Panel # 1"); ?>
        <p>Custom panel # 1 content huehue</p>
      <?php $tpl->closePanel(); ?>
      <? if(isset($_SESSION['user'])): ?>
        <? $tpl->openPanel("Custom Panel When Logged In"); ?>
          <hr />
          <a href = "index.php?p=ucp&action=logout" class = "text-danger">Logout</a>
        <?php $tpl->closePanel(); ?>
      <? endif; ?>
    </div>
  </div>
</div>
<div class = "clear"></div>
