<? if(!isset($_SESSION['user'])) :?>
<div class = "container clear-top">
  <div class = "row row-centered">
    <div class = "col-md-4 col-centered">
  <? $tpl->openPanel("Login");?>
  <? if(isset($_POST['submit'])) : ?>
  <? $data = array("username" => $_POST['username'],"password" => $_POST['password']);?>
  <? $m_login->trigerSubmit($data);?>
  <div class="alert alert-warning" id= "result" role="alert"><? echo $m_login->result; ?></div>
  <? endif; ?>
      <form method="post" id="reg-form" autocomplete="off">
        <div class="form-group">
          <label for="username"><span class="text-danger">* </span> Username:</label>
          <input type="text" class="form-control" value = "<? echo @$_POST['username']; ?>" placeholder = "Username" name = "username" id="name" required/>
        </div>
        <div class="form-group">
          <label for="password"><span class="text-danger"> * </span> Password:</label>
          <input type="password" class="form-control" placeholder = "*************" name = "password" id="pwd" required/>
        </div>
      <button type="submit" name = "submit" class="btn btn-success btn-md btn-block">Submit</button>
      <br />
      </form>
    </div>
  </div>
  <? $tpl->closePanel(); ?>
</div>
<? else: ?>
<div class = "container">
  <div class="alert alert-danger" id= "result" role="alert">You already logged in</div>
</div>
<? endif; ?>
