<? if(!isset($_SESSION['user'])) :?>
<div class = "container">
  <div class = "row row-centered">
    <div class = "col-md-10 col-centered">
  <? $tpl->openPanel("Register");?>
  <? if(isset($_POST['submit'])) : ?>
  <? $data = array(
     "username" => $_POST['username'],"password" => $_POST['password'],
     "password_c"=> $_POST['password_c'],"email" => $_POST['email'],
     "captcha_entered" => $_POST['captcha'],
     "captcha_original" => $_POST['captcha_c']);
     ?>
  <? $m_register->trigerSubmit($data);?>
  <div class="alert alert-warning" id= "result" role="alert"><? echo $m_register->result; ?></div>
  <? endif; ?>
  <div class = "row">
    <div class = "col-md-5">
      <form method="post" id="reg-form" autocomplete="off">
        <div class="form-group">
          <label for="username"><span class="text-danger">* </span> Username:</label>
          <input type="text" class="form-control" value = "<? echo @$_POST['username']; ?>" placeholder = "Username" name = "username" id="name" required/>
        </div>
        <div class="form-group">
          <label for="password"><span class="text-danger"> * </span> Password:</label>
          <input type="password" class="form-control" placeholder = "*************" name = "password" id="pwd" required/>
        </div>
        <div class="form-group">
          <label for="c_password"><span class="text-danger"> * </span> Confirm password:</label>
          <input type="password" class="form-control" placeholder = "*************" name = "password_c" required/>
        </div>
        <div class="form-group">
          <label for="email"><span class="text-danger"> * </span> Email address:</label>
          <input type="email" class="form-control" value = "<? echo @$_POST['email']; ?>" placeholder = "example@example.com" name = "email" required/>
        </div>
        <div class="form-group form-inline">
          <input type = "hidden" value = "<? echo $m_register->randomNumber; ?>" name = "captcha_c" hidden/>
          <label for="email">Security Code : <? echo $m_register->randomNumber; ?></label>
          <br />
          <input type="number" class="form-control" placeholder = "0000000" name = "captcha" required/>
          <label for="email"><span class="text-danger"> * </span> Confirm Security Code</label>
        </div>
      <button type="submit" name = "submit" class="btn btn-success btn-md btn-block">Submit</button>
      <br />
      </form>
    </div>

    <div class = "col-md-7 col-centered">
      <h4>Don't be greedy !</h4>
      <div class="alert alert-success" role="alert">Please use valid email address so in case of lost password / username we can recover it.</div>
      <div class="alert alert-info" role="alert"> By registering you accepting <a href = "#">these</a> rules.</div>
      <div class="alert alert-warning" role="alert"> Only letters and numbers are vaiable.</div>
      <div class="alert alert-danger" role="alert">* Marked fields can't be empty.</div>
    </div>
  </div>

    </div>
  </div>
  <? $tpl->closePanel(); ?>
</div>
<? else: ?>
<div class = "container">
  <div class="alert alert-danger" id= "result" role="alert">You already logged in</div>
</div>
<? endif; ?>
