<? if(!isset($_SESSION['user'])) : ?>
  <div class = "container">
    <div class="alert alert-danger" id= "result" role="alert">You need to <a href = "index.php?p=login">login</a> to visit this page</div>
  </div>
<? else: ?>
<div class = "container ">
       <? $tpl->openPanel("Account Panel"); ?>
          <hr />
          <a href = "index.php?p=ucp&action=logout" class = "text-danger">Logout</a>
       <? $tpl->closePanel(); ?>
</div>
<div class = "clear"></div>

<?
if(isset($_GET['action'])) {
  if($_GET['action'] == "logout"){
    session_destroy();
    header("location: index.php");
    exit();
  }
}
endif;
?>
